<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="{{ASSET_ROOT}}/css/style.css" rel="stylesheet">
</head>
<body>
    Id: {{ id }} Name: {{ name }}
</body>
</html>
